
/*** GREY ***/
#CVExplorer .tab-nav.cv-page-navigator .nav-item a.active,
#CVExplorer .tab-nav.cv-page-navigator .nav-item a:hover, #CVExplorer .one-page-label {
	background-color: #E2E2E2;
}
#CVExplorer .tab-nav.cv-page-navigator .nav-item a, #CVExplorer .one-page-label {
	border-top: 2px solid #E2E2E2;
	border-bottom: 2px solid #E2E2E2;
}
#CVExplorer .tab-nav.cv-page-navigator .nav-item:first-child a {
	border-left: 2px solid #E2E2E2;
}
#CVExplorer .tab-nav.cv-page-navigator .nav-item:last-child a {
	border-right: 2px solid #E2E2E2;
}
#CVExplorer .tab-nav.cv-page-navigator .nav-item a.active::after {
	border-top-color: #E2E2E2;
}

/*** GREEN ***/
#CVExplorer .cv-navigator .nav-item:nth-child(5n+1) a, #CVExplorer .cv-0 .cv-notes {
	background: #A3DBA6;
}
#CVExplorer .cv-navigator .nav-item:nth-child(5n+1) a::after {
	border-top-color: #A3DBA6;
}
#CVExplorer .cv-navigator .nav-item:nth-child(5n+1) a:not(.active):hover {
	background-color: #7CCC80;
}
#CVExplorer .cv-navigator .nav-item:nth-child(5n+1) a:not(.active):hover::after {
	border-top-color: #7CCC80;
}
#CVExplorer .cv-0 .cv-section.active, #CVExplorer .cv-0 .cv-section, #CVExplorer .cv-0 .cv-section:focus {
	outline-color: #7CCC80;
}
#CVExplorer .cv-0 .cv-section.active::before {
	border-left-color: #7CCC80;
}

/*** ORANGE ***/
#CVExplorer .cv-navigator .nav-item:nth-child(5n+2) a, #CVExplorer .cv-1 .cv-notes {
	background: #FAC38E;
}
#CVExplorer .cv-navigator .nav-item:nth-child(5n+2) a::after {
	border-top-color: #FAC38E;
}
#CVExplorer .cv-navigator .nav-item:nth-child(5n+2) a:not(.active):hover {
	background: #F9AB63;
}
#CVExplorer .cv-navigator .nav-item:nth-child(5n+2) a:not(.active):hover::after {
	border-top-color: #F9AB63;
}
#CVExplorer .cv-1 .cv-section.active, #CVExplorer .cv-1 .cv-section, #CVExplorer .cv-1 .cv-section:focus {
	outline-color: #F9AB63;
}
#CVExplorer .cv-1 .cv-section.active::before {
	border-left-color: #F9AB63;
}

/*** BLUE ***/
#CVExplorer .cv-navigator .nav-item:nth-child(5n+3) a, #CVExplorer .cv-2 .cv-notes {
	background: #82CDEC;
}
#CVExplorer .cv-navigator .nav-item:nth-child(5n+3) a::after {
	border-top-color: #82CDEC;
}
#CVExplorer .cv-navigator .nav-item:nth-child(5n+3) a:not(.active):hover {
	background: #4DB8E4;
}
#CVExplorer .cv-navigator .nav-item:nth-child(5n+3) a:not(.active):hover::after {
	border-top-color: #4DB8E4;
}
#CVExplorer .cv-2 .cv-section.active, #CVExplorer .cv-2 .cv-section, #CVExplorer .cv-2 .cv-section:focus {
	outline-color: #4DB8E4;
}
#CVExplorer .cv-2 .cv-section.active::before {
	border-left-color: #4DB8E4;
}

/*** PURPLE ***/
#CVExplorer .cv-navigator .nav-item:nth-child(5n+4) a, #CVExplorer .cv-3 .cv-notes {
	background: #C3ACD2;
}
#CVExplorer .cv-navigator .nav-item:nth-child(5n+4) a::after {
	border-top-color: #C3ACD2;
}
#CVExplorer .cv-navigator .nav-item:nth-child(5n+4) a:not(.active):hover {
	background: #946AAF;
}
#CVExplorer .cv-navigator .nav-item:nth-child(5n+4) a:not(.active):hover::after {
	border-top-color: #946AAF;
}
#CVExplorer .cv-3 .cv-section.active, #CVExplorer .cv-3 .cv-section, #CVExplorer .cv-3 .cv-section:focus {
	outline-color: #946AAF;
}
#CVExplorer .cv-3 .cv-section.active::before {
	border-left-color: #946AAF;
}

/*** RED ***/
#CVExplorer .cv-navigator .nav-item:nth-child(5n+5) a, #CVExplorer .cv-4 .cv-notes {
	background: #F7939C;
}
#CVExplorer .cv-navigator .nav-item:nth-child(5n+5) a::after {
	background: #F7939C;
}
#CVExplorer .cv-navigator .nav-item:nth-child(5n+5) a:not(.active):hover {
	background: #F03E4D;
}
#CVExplorer .cv-navigator .nav-item:nth-child(5n+5) a:not(.active):hover::after {
	border-top-color: #F03E4D;
}
#CVExplorer .cv-4 .cv-section.active, #CVExplorer .cv-4 .cv-section, #CVExplorer .cv-4 .cv-section:focus {
	outline-color: #F03E4D;
}
#CVExplorer .cv-4 .cv-section.active::before {
	border-left-color: #F03E4D;
}
