body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  box-sizing: border-box;
}

#CVExplorer {
  width: 100%;
}

#CVExplorer .cv-page {
  width: 400px;
  height: calc(400px*1.4142);
  margin: 0 auto;
  padding: 1em;
  border:1px solid black;
}

#CVExplorer .cv-section {
  display: table-row;
}