<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CV Explorer</title>

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="stylesheet" href="styles/main.css">
    
  </head>
  <body>
    <h1>CV explorer</h1>
      
    <div class="container">

        <main id="CVExplorer" ng-app="cv-tool" ng-controller="ExplorerController as explorer">
          
            <nav ng-show="explorer.cvs.length > 1">
                <ul class="cv-navigator">
                    <li ng-repeat="cv in explorer.cvs">
                        <a href ng-click="explorer.setCV($index)">{{cv.title}}</a>
                    </li>       
                </ul>
            </nav>
          
            <cv></cv>
        
        </main>
    
    </div>

    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="https://opensource.keycdn.com/angularjs/1.5.5/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-sanitize/1.5.6/angular-sanitize.min.js"></script>
    <script src="scripts/main.js"></script>

  </body>
</html>
